.box {
  margin-bottom: 20px;
  border: 1px solid #e2e2e2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*padding-bottom: 15px;*/
}

.box .box-header {
  color: #333333;
  height: 20px;
  line-height: 20px;
  background-color: #F4F4F4;
  background-color: #f1f1f1;
  background-image: -moz-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
  background-image: -webkit-linear-gradient(top, #f4f4f4, #ececec);
  background-image: -o-linear-gradient(top, #f4f4f4, #ececec);
  background-image: linear-gradient(to bottom, #f4f4f4, #ececec);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffececec', GradientType=0);
  border-bottom: 1px solid #d5d5d5;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #99979c;
  text-align: center;
  background-color: #2a2730
}

.footer .body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
}

.footer a{
  color: white;
}
